<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/_MyStyleSheet.css"/>
    @RenderSection("Style", required: false)
</head>
<body>
<header>
    <a asp-action="Home">Home</a>
    <a asp-action="Events">Events</a>
    <a asp-action="MyEvents">My Events</a>
    
    <a asp-action="Events">Login</a>
</header>
<nav>
    @RenderBody()
</nav>
<footer>
    &copy;2022 Base
</footer>

<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
@RenderSection("Scripts", required: false)
</body>
</html>