@{
    <body>
    <h1>
        Welcome
    </h1>
    <p>Welcome to our events site!</p>
    <a asp-action="Events">
        Register
    </a>
    <a asp-action="Events">
        Log In
    </a>
    </body>
}
