@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <h1>
        My events
    </h1>

    <a href="Home.cshtml">
        Go back
    </a>

    <body>
    <p>This is the body</p>
    </body>
}
